
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.heading {
    display: flex;
    gap: 346px;
    justify-content: space-around;
}
.heading .logo 
{
    max-width: 139px;
    margin-top: 16px;
}
.heading .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap:32px;
    margin-top: 34px;

}
nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000 ;
}
.btn {
    max-width: 164px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #30B868;
    margin-top: 24px;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
}
 
 .banner{
    background-image: url("B13-A01-Knowledge-Vault/assets/hero-bg.png");
   background-repeat: no-repeat;
    max-width: 2042px;
    height:674px;
    margin-top: 19px;
 }
 .banner .banner-content {
  text-align: center; 
  align-items: center;
 display: flex;
flex-direction: column;
justify-content: center;
padding-top: 115px;
 }
 div .access {
    background-color: white;
    color: #30B868;
    padding: 8px;
    border: none;
    border-radius: 100px;
    margin-bottom: 16px;
 }
 .banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
 }
 h1 .colour{
    color: #30B868;
 }
    .banner .banner-content p {
          font-size: 18px;
          color: white;
          height: 60px;
          line-height: 24px;
        
    }
.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.option .button1 {
    max-width: 251px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #30B868;
    margin-top: 32px;
    padding: 16px;
    border: none;
    border-radius: 4px;
}
.option .button2 {
    max-width: 198px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 32px;
    padding: 16px;
    border:  1px solid white;
    border-radius: 4px;
    background-color: transparent;
}
button:hover {
    background-color: #0c4724;
}
.option .button1:hover {
    background-color: #0c4724;
}
.option .button2:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
#notes .header {
    text-align: center;
    align-items: center;

}
#notes .header h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    padding-top: 50px;
    margin-bottom: 16px;
    color: #001931;
}
#notes .header p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
 #notes .box{
   
   max-width: 1360px;
   margin: 0 auto;
 }
 #notes .box {
   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
     gap: 24px;
 }
 .box .options{
   padding: 24px;
  margin-top: 44px;
   max-width: 322px;
   height: 300px;
   border-radius: 8px;
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
   gap: 24px;
   align-items: center;
   justify-content: center;
   

 }
 .options img {
   max-width: 32px;
   padding: 1.5 2.5;
   margin: 70px 131px 16px;
   border-radius: 50%;
   background-color: rgba(249, 85, 85, 1); 
 }
 .options h2 {
    font-size: 24px;
    font-weight: 500px;
    color: #001931;
    margin-top: 16px;
    text-align: center;
 }
 .options p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#627382 ;
    margin-top: 16px;
 }
#brain {
    display: flex;
    gap: 60px ;
    margin: 120px 120px;
}
#brain .image {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
#brain .solution {
    margin: 100px 0px;
    width: 700px;
}
.solution h4 {
    font-size: 16px;
    font-weight: 400;
    color: #30B868;

}
.solution h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
    color: #001931;
}
.solution p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    color: #627382;
}
.solution ul {
    list-style: none;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #001931;
    
}
ul li {
    display: flex ;
    gap: 6px;
    padding-bottom: 16px;
}
 ul li img {
    width: 20px;
    height: 20px;
 }

 #access {
    text-align: center;
    background-color: #F7F6F2;
    margin: 120px;
    max-width: 1360px;
    height: 385px;
 }
 #access .access-header {
  padding-top: 80px;
    max-width: 1280px;
 }
 .access-header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
 }
 .access-header p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
 }
 #access p {
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
 }
  footer{
   background-color:rgba(0, 25, 49, 1) ;
    margin-top: 120px;
    padding: 120px 120px 30px 120px;
 }
 footer .footer-content {
    display: flex;
    gap:950px;
    width: 139px;
    height:60px;

 }
 .footer-content .icons h5 { 
         font-size: 20px;
         font-weight: 400;
         color: #FFFFFF;
         width: 220px;

 }
 .icons img {
    
    margin-top: 16px;
    margin-left: 16px;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
 }
 footer hr {
 margin-top: 80px;
 border-color: #627382;
 }
 footer p {
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 120px;
 }
